
        <div class="row mt-5">
          <div class="col-md-6 m-auto">
              <div class="card card-body">
      
        <div class="container">
        <div class="text-center">
          <h1>Welcome To Our ChatApp</h1>
        </div>  

        <form method="POST" action="/welcome">
          <label for="username">Username</label>
          <br>
          <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username" />
          <label for="room">Room</label>
          <br>
          <input type="text" id="room" name="room" class="form-control" placeholder="Enter your room" />
          <br>
          <button type="submit" class="btn btn-info" >Enter</button>
         </form>

  
          
      
        </div>
          </div>    
          </div>
      </div>    
    






